<mat-toolbar color = "primary" fxLayoutAlign="space-between center">
    <div class="d-inline-block" >
        <button [routerLink]="['/home']" mat-button>{{"header.Home" | translate}} </button>
    </div>
     
    <div class="lang">
        <mat-form-field class="selector_lang" >
            <mat-select [(ngModel)]="selectedLang" (selectionChange)="changeLang(selectedLang)">
              <mat-option *ngFor="let lang of langs" [value]="lang">
                <img with="20px" height="20px" src={{lang.flag}}>   {{lang.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
        <span>BueStats 2.0</span>
    </div>

</mat-toolbar>