<!--Div con los desplegables -->
<div>

    <div class="card-container">
        <mat-form-field appearance="fill">
          <mat-label>League</mat-label>
          <mat-select [(ngModel)]="selectedLeague" (selectionChange)="changeLeague(selectedLeague)">
            <mat-option *ngFor="let league of leagues" [value]="league.index">
              {{league.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>season</mat-label>
            <mat-select [(ngModel)]="selectedSeason" [disabled]="!selectedLeague">
              <mat-option *ngFor="let season of seasons" [value]="season.index">
                {{season.value}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>Groups</mat-label>
            <mat-select [(ngModel)]="selectedGroup" [disabled]="!selectedLeague">
              <mat-option *ngFor="let group of groups" [value]="group.index">
                {{group.value}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Team</mat-label>
          <mat-select [(ngModel)]="selectedTeam" [disabled]="!selectedLeague">
            <mat-option *ngFor="let team of teams" [value]="team.index">
              {{team.value}}
            </mat-option>
          </mat-select>
      </mat-form-field>
<!--    
    <app-autocomplete class="autocomplete" name="equipoAuto" ngDefaultControl
        [idOpcionSeleccionada]="selectedTeam"
        (cuandoSeSeleccioneOpcion)="selectedTeam = $event" icon=""
        label="equipos"
        [options]="teamsAuto">
    </app-autocomplete>
      -->
    </div>
    <div>
      <iframe width="100%" height="700px" src="http://127.0.0.1:8080/"></iframe>
    </div>
</div>