<!--Div con los desplegables -->
<div>

    <div class="card-container">
        <mat-form-field appearance="fill">
          <mat-label>League</mat-label>
          <mat-select [(ngModel)]="selectedLeague" (selectionChange)="changeLeague(selectedLeague)">
            <mat-option *ngFor="let league of leagues" [value]="league.index">
              {{league.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>season</mat-label>
            <mat-select [(ngModel)]="selectedSeason" [disabled]="!selectedLeague">
              <mat-option *ngFor="let season of seasons" [value]="season.index">
                {{season.value}}
              </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Group</mat-label>
          <input type="text" matInput [formControl]="groupControl" [matAutocomplete]="autoGroup" >
          <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayFn" >
            <mat-option *ngFor="let group of groupsAuto | async" [value]="group">
              {{group.team}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
<!--
        <mat-form-field appearance="fill" >
          <mat-label>Team</mat-label>
          <mat-select [(ngModel)]="selectedTeam" [disabled]="!selectedLeague">
            <mat-option *ngFor="let team of teams" [value]="team.index">
              {{team.value}}
            </mat-option>
          </mat-select>
      </mat-form-field>
-->
      <mat-form-field appearance="fill">
        <mat-label>Team</mat-label>
        <input type="text" matInput [formControl]="teamControl" [matAutocomplete]="autoTeam">
        <mat-autocomplete #autoTeam="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let team of teamsAuto | async" [value]="team">
            {{team.team}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>First Week Match</mat-label>
        <mat-select [(ngModel)]="selectedWMI">
          <mat-option *ngFor="let weekMatch of weekMatchInit" [value]="weekMatch">
            Weekmatch {{weekMatch}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Week Match</mat-label>
        <mat-select [(ngModel)]="selectedWML">
          <mat-option *ngFor="let weekMatch of weekMatchInit" [value]="weekMatch">
            Weekmatch {{weekMatch}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>TOP Teams</mat-label>
        <mat-chip-list #TopList aria-label="Top selection">
          <mat-chip
            *ngFor="let team of selectedTopTeams"
            (removed)="removeTop(team)">
            {{team}}
            <button matChipRemove>
              <mat-icon>close</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New top team..."
            #topTeamInput
            [formControl]="topTeamCtrl"
            [matAutocomplete]="autoTop"
            [matChipInputFor]="TopList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addTop($event)">

        </mat-chip-list>
        <mat-autocomplete #autoTop="matAutocomplete" (optionSelected)="selectedTop($event)">
          <mat-option *ngFor="let team of teamsTopAuto | async" [value]="team">
            {{team}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>



      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Bottom Teams</mat-label>
        <mat-chip-list #BotList aria-label="Bottom selection">
          <mat-chip
            *ngFor="let team of selectedBotTeams"
            (removed)="removeBot(team)">
            {{team}}
            <button matChipRemove>
              <mat-icon>close</mat-icon>
            </button>
          </mat-chip>
          <input
            placeholder="New bottom team..."
            #topTeamInput
            [formControl]="botTeamCtrl"
            [matAutocomplete]="autoBot"
            [matChipInputFor]="BotList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addBot($event)">

        </mat-chip-list>
        <mat-autocomplete #autoBot="matAutocomplete" (optionSelected)="selectedBot($event)">
          <mat-option *ngFor="let team of teamsBotAuto | async" [value]="team">
            {{team}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <section class="example-section">
        <mat-checkbox class="example-margin">Extraer Todas las Jornadas</mat-checkbox>
        <br>
        <mat-checkbox class="example-margin">Extaer estadisitcas de equipo</mat-checkbox>
        <br>
        <mat-checkbox class="example-margin">Extraer Rankings</mat-checkbox>
      </section>

    </div>

</div>